# Projeto Flags

## Primeira Parte

Importação da biblioteca pandas

In [1]:
import pandas as pd

Importa a base de dados

In [2]:
flags = pd.read_csv('flags.csv')

Utiliza do método head para obter informações básicas

In [3]:
print('head()')
print(flags.head())
print('-' * 90)

head()
             name  landmass  zone  area  population  language  religion  bars  \
0     Afghanistan         5     1   648          16        10         2     0
1         Albania         3     1    29           3         6         6     0
2         Algeria         4     1  2388          20         8         2     2
3  American-Samoa         6     3     0           0         1         1     0
4         Andorra         3     1     0           0         6         0     3

   stripes  colours  ...  saltires  quarters  sunstars  crescent  triangle  \
0        3        5  ...         0         0         1         0         0
1        0        3  ...         0         0         1         0         0
2        0        3  ...         0         0         1         1         0
3        0        5  ...         0         0         0         0         1
4        0        3  ...         0         0         0         0         0

   icon  animate text  topleft  botright
0     1        0    0    black     green
1     0        1    0      red       red
2     0        0    0    green     white
3     1        1    0     blue       red
4     0        0    0     blue       red

[5 rows x 30 columns]
------------------------------------------------------------------------------------------

Utiliza do método tail para obter informações básicas

In [4]:
print('tail()')
print(flags.tail())
print('-' * 90)

tail()
              name  landmass  zone  area  population  language  religion  \
189  Western-Samoa         6     3     3           0         1         1
190     Yugoslavia         3     1   256          22         6         6
191          Zaire         4     2   905          28        10         5
192         Zambia         4     2   753           6        10         5
193       Zimbabwe         4     2   391           8        10         5

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
189     0        0        3  ...         0         1         5         0
190     0        3        4  ...         0         0         1         0
191     0        0        4  ...         0         0         0         0
192     3        0        4  ...         0         0         0         0
193     0        7        5  ...         0         0         1         0

     triangle  icon  animate text  topleft  botright
189         0     0        0    0     blue       red
190         0     0        0    0     blue       red
191         0     1        1    0    green     green
192         0     0        1    0    green     brown
193         1     1        1    0    green     green

[5 rows x 30 columns]
------------------------------------------------------------------------------------------

In [12]:
flags[flags['name'] == 'Bulgaria'].loc[:, ['blue']]

    blue
26     1

Separa as cores

In [6]:
verde = flags['green']
amarelo = flags['gold']
azul = flags['blue']
branco = flags['white']
soma = verde + amarelo + azul + branco

Gera um vetor booleano com True para quem possui todas as 4 cores

In [7]:
tem_todas = (soma == 4)
tem_todas

0      False
1      False
2      False
3      False
4      False
       ...
189    False
190    False
191    False
192    False
193    False
Length: 194, dtype: bool

Imprime os nomes dos países com as quatro cores

In [8]:
print('Países com verde, amarelo, azul e branco')
print(flags[tem_todas.values]['name'])

Países com verde, amarelo, azul e branco
17                       Belize
19                      Bermuda
23                       Brazil
24         British-Virgin-Isles
26                     Bulgaria
33               Cayman-Islands
34     Central-African-Republic
48                     Dominica
56           Falklands-Malvinas
57                         Fiji
71                         Guam
78                    Hong-Kong
116                  Montserrat
135                     Parguay
139                    Portugal
142                     Romania
151             Soloman-Islands
158                   St-Helena
161                  St-Vincent
176         Turks-Cocos-Islands
182             US-Virgin-Isles
187                   Venezuela
Name: name, dtype: object

## Segunda Parte

Obtém as propriedades básicas de cada atributo

In [3]:
i = 0
for c in flags.columns:
    i += 1
    att = flags[c]
    att_dtype = att.dtype
    att_tam_dominio = att.unique().size()

    att_tem_nulo = any(att.isnull())
    if (att_tam_dominio < 8):
        print(f'({str(i)}) atributo:', c, '\t', 
              'dtype:', att_dtype, '\t',
              'nulos:', att_tem_nulo, '\t','domínio (primeior elementos):', att.unique())
    else:
        if (att_dtype == 'object'):
            print(f'({str(i)}) atributo:', c, '\t', 
              'dtype:', att_dtype, '\t',
              'nulos:', att_tem_nulo, '\t',
                  'domínio (primeior elementos):', att.unique()[:8])
        else:
            print(f'({str(i)}) atributo:', c, '\t', 
              'dtype:', att_dtype, '\t',
              'nulos:', att.min(), '\t',
                )

NameError: name 'flags' is not defined